{% extends "base.html" %}
{% load bootstrap4 %}
{% block body %}

<section class="peulis-breadcrumb-area">
   <div class="breadcrumb-top">
      <div class="container">
         <div class="col-lg-12">
            <div class="breadcrumb-box">
               <h2>Reset password</h2>
                <ul class="breadcrumb-inn">
                  <li><a href="{% url 'Post:index'%}">Home</a></li>
                  <li class="active"><a href="#">Reset password</a></li>
                </ul>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="peulis-login-page section_70">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="login-box">
               <h3>Reset password<!</h3>

               <h3>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</h3>

</div>
</div>
</div>
</div>
</section>

{% endblock %}
