{% extends "base.html" %}
{% load bootstrap4 %}
{% block body %}
<!-- ===============  breadcrumb area start =============== -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="breadcrumb-wrap">
                    <h2>Reset password<</h2>
                    <ul class="breadcrumb-links">
                        <li>
                            <a href="{% url 'Post:index'%}">Home</a>
                            <i class="bx bx-chevron-right"></i>
                        </li>
                        <li>Reset password<</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ===============  breadcrumb area end =============== -->
<div class="contact-wrapper pt-90">
    <div class="contact-cards">
        <div class="container">
            <div class="row">

              <h3>Reset password<!</h3>
 <form method="post"">
   {% csrf_token %}

   {% bootstrap_form form %}
   <div class="col-lg-16">
       <input type="submit" value="Reset password">

   </div>

 </form>
 <div class="register_have">
    <p>Already have an account? <a href="{% url 'accounts:user_login'%}">Login</a></p>
  </div>
  </div>
</div>
</div>



{% endblock %}
