{% extends "base.html" %}
{% load bootstrap4 %}
{% block body %}

<section class="peulis-breadcrumb-area">
   <div class="breadcrumb-top">
      <div class="container">
         <div class="col-lg-12">
            <div class="breadcrumb-box">
               <h2>Reset password</h2>
                <ul class="breadcrumb-inn">
                  <li><a href="{% url 'Post:index'%}">Home</a></li>
                  <li class="active"><a href="#">Reset password</a></li>
                </ul>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="peulis-login-page section_70">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="login-box">
               <h3>Reset password<!</h3>
    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>

            </table>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <hr3>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</hr3>
    {% endif %}
  </div>
  </div>
  </div>
  </div>
  </section>

  {% endblock %}
